<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath=".\IdentityExpress.Manager.UI.exe" stdoutLogFile="C:\logs\AdminUI.txt" stdoutLogEnabled="true">
	<environmentVariables><environmentVariable name="UiUrl" value="https://localhost:5450"/><environmentVariable name="AuthorityUrl" value="https://localhost:5443"/><environmentVariable name="ApiUrl" value="https://localhost:5451"/><environmentVariable name="AdminUIClientSecret" value="978225c2ffca418a8c3a9ca48975e4e8"/></environmentVariables></aspNetCore>
  </system.webServer>
</configuration>
