<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #CCDDF6;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Easy Learning</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-md-1">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @{
                            if (!true.Equals(ViewData["signed-out"]))
                            {
                                <li class="nav-item float-right">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>

                            }
                        }
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:absolute;">
        <div class="container">
            <div class="float-left">
                <i class="fab fa-facebook"></i> Visist us on <a href="https://www.facebook.com/mihaicezar.perisoara/" class="text-dark">Facebook</a>.<br>
                <i class="fab fa-instagram"></i> Follow us on <a href="https://www.instagram.com/mihai.per/" class="text-dark">Instagram</a>.<br>
                <i class="far fa-envelope"></i> Contact us at office@easylearning.com.
            </div>
            <div class="float-right mb-0">
                &copy; 2021 - Perisoara Mihai Cezar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/2ee0d523b9.js" crossorigin="anonymous"></script>

    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectList').multiselect({
                includeSelectAllOption: true
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
