@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Easy Learning</h1>
    <p>Begin learning with us! Start your journey <a asp-area="" asp-controller="Home" asp-action="Teaching">here</a>.</p>
</div>
