@model TeachingAPI.Models.Class

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eay Learning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="overflow-x: hidden;" class = "">
    <div class="container-main">
        <h1>Edit</h1>
        <h4>Class @Html.DisplayNameFor(model => model.Name)</h4>
        <div class ="bg-light">
            <div style="margin: 20px;">
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <input asp-for="ClassId" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActivityName" class="control-label"></label>
                                <input asp-for="ActivityName" class="form-control" />
                                <span asp-validation-for="ActivityName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorName" class="control-label"></label>
                                <input asp-for="AuthorName" class="form-control" />
                                <span asp-validation-for="AuthorName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClassLessons" class="control-label"></label>
                                <input asp-for="ClassLessons" class="form-control" />
                                <span asp-validation-for="ClassLessons" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Groups" class="control-label"></label>
                                <input asp-for="Groups" class="form-control" />
                                <span asp-validation-for="Groups" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Subgroups" class="control-label"></label>
                                <input asp-for="Subgroups" class="form-control" />
                                <span asp-validation-for="Subgroups" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
</html>